@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


/* ---------------------- colours ------------ */

#logo {
    color: rgb(255, 166, 0);
    
}

#tagline {
    color: rgb(255, 166, 0);
}

html {
    background-color: black;
}


body {
    color: white;
    background-color: black;
}
/* ---------------------- colours ------------*/

/* ---------------------- fonts ------------ */

h1, h2 { 
    font-family: "Lato", cursive;
}

body { font-family: "Lato", sans-serif;
}

/* ---------------------- fonts ------------*/

/* ---------------------- header/nav ------------ */

#logo {
    
    font-size: 8rem;
    margin-left: 20px;
    font-family: 'Zen Dots', cursive;
    letter-spacing: -5px;    
}

#logo, a {
    text-decoration: none;
}

#tagline {
    font-family: "Lato" , cursive;
    margin-left: 20px;
    font-weight: bolder;
   
}

#nav {
    font-size: 2rem;
    list-style-type: none;
    letter-spacing: 4px;
}

#nav li {
    margin-right: 50px;
    font-family: 'Zen Dots', cursive;
    color: rgb(204, 134, 4);
   
}

#nav a {
    text-decoration: none;
    color: rgb(204, 134, 4);
    display: block;
}


.active {
    border-bottom: 2px solid rgb(204, 134, 4);
}


/* ---------------------- header/nav ------------*/


/* ---------------------- Hero image ------------*/

#hero-image {
    width: 100%;
    height: 500px;
    background: url('./images/sax.png');
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}

#overlay {
    float: right;
    font-size:100%;
    font-weight: bolder;
    width:200px;
    height:500px;
    margin-right: 70px;
    text-align: center;
    padding-top:50px;

    background-color: rgba(211, 148, 12, 0.795);
    bottom:30px;
    right:120px;
}



/* ---------------------- Hero image ------------*/


/* ---------------------- content ------------ */

 #showcase {

    margin-top: 100px;
    margin-bottom: 50px;
    
}

#showcase-video {
    width: 100%;
}


#repertoire {
    width:100%;
    margin-top: 100px;
    margin-left:100px;
    text-align: center;

    font-family: "Lato", cursive;
    font-size: 25px;   
}


/*

hr {
    border-top: 2px solid white;
    width: 75%;
}

.lower-text {
  text-align: center;
  margin-top: 50px;  
  font-size:large;
}

.lower-text a {
    color:rgb(255, 166, 0);
}

/* ---------------------- footer ------------

footer {
    height: 50px;
}

.social li {
    display: inline;
}

.social{
    text-align: center;

}

.social i {
    color: rgb(255, 166, 0);
    margin: 5%;
    padding:5%;
    font-size: 300%
}

/* ---------------------- footer ------------*/

/* ---------------------- media query/bootstrap ------------*/

/* No greater than 480px, no less than 320px */
/* Copied from https://www.w3schools.com/css/css_comments.asp 

@media screen and (max-width: 480px) and (min-width:320px) {
    #logo {
    
        font-size: 250%;
        margin-left: 5%;
        font-family: 'Zen Dots', cursive;
        letter-spacing: -5px;    
    }


#hero-image {
    width: 100%;
    height: 20%;
    background: url('./images/sax.png');
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    }


    #tagline {
        font-family: "Lato" , cursive;
        margin-left: 5px;
        font-weight: bolder;
        visibility: hidden;
        font-size: 9px;
       
    }

    #nav {
        font-size: 75%;
        list-style-type: none;
        letter-spacing: 1px;
    
    }

    #nav li {
        
        margin-right: 10px;
        font-family: 'Zen Dots', cursive;
        color: rgb(204, 134, 4);
       
    }

    #repertoire {
        
        padding-top: 10px;
        margin: auto;
        text-align: center;
        width: 100%;
        font-family: "Lato", cursive;
        font-size: 100%;   
    }

    #showcase-video {
        
        width: 200%;    !important;
        height: auto;   !important;
    }


    .social i {
        color: rgb(255, 166, 0);
        font-size: 200%

    }
}

/* ---------------------- media query/bootstrap ------------*/

/* ---------------------- gallery ------------

#gallery {
    column-count: 3;
    column-gap: 0;
    line-height: 0;

}

#gallery img {
    width: 100%;
    height: 100%;
}
/* ---------------------- gallery ------------*/


/* ---------------------- signup ------------

#overlay-form-container {
    float: right;
    font-size:90%;
    font-weight: bolder;
    width:350px;
    height:500px;
    margin-right: 50px;
    

    background-color: rgba(211, 148, 12, 0.795);
    bottom:30px;
    right:120px;
}

.input-label {
    margin-left:10px;
}

.form-title {
    text-align-last: center;
    margin-bottom: 50px;
}




.text-input {
    width:75%;
    height: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top:10px;
    clear: both;
}

.join-button {
    margin-top: 0px;
    margin-left: 10px;  
    padding-left: 20px; 
    
}

#join-button {
    margin-left:30px;
}

#join-label {
    margin-left: 50px;
    margin-top: 30px;
}


#join {
    margin-left:10px;
}