@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


/* ---------------------- colours ------------*/

#logo {
    color: rgb(255, 166, 0);
}

html {
    background-color: black;
}


body {
    color: white;
}
/* ---------------------- colours ------------*/

/* ---------------------- fonts ------------*/

h2, h2 { 
    font-family: 'Zen Dots', cursive;
}

body { font-family: "Lato", sans-serif;
}

/* ---------------------- fonts ------------*/




/* ---------------------- header/nav ------------*/

#logo {
    float: left;
    font-size: 400%;
    margin-left: 20px;
    font-family: 'Zen Dots', cursive;
    letter-spacing: -5px;
}

#nav {
    font-size: 150%;
    list-style-type: none;
    letter-spacing: 4px;
}

#nav li {
    float:right;
    margin-right: 50px;
    font-family: 'Zen Dots', cursive;
    color: rgb(204, 134, 4);
    padding-top: 75px;
}

#nav a {
    text-decoration: none;
    color: rgb(204, 134, 4);
}


.active {
    border-bottom: 2px solid rgb(204, 134, 4);
}


/* ---------------------- header/nav ------------*/


/* ---------------------- Hero image ------------*/



/* ---------------------- Hero image ------------*/
